@charset "uft-8";

/* カスタムプロパティ */

:root {
    /* --カスタムプロパティ名：値 */
    /* 余白、ｆｆも設定できる */
    --portfolio-black: #000;
    --portfolio-white: #fff;
    --portfolio-green: #296A65;
    --portfolio-gray: #eee;
    --portfolio-lite-green: #2FAC9E;

    --fsz-12px: 12px;
    --fsz-14px: 14px;
    --fsz-16px: 16px;
    --fsz-18px: 18px;
    --fsz-24px: 24px;
    --fsz-32px: 32px;
    --fsz-48px: 48px;
    --fsz-64px: 64px;

}

body {
    /* カスタムプロパティの利用： var(プロパティ名) 
    変数のことをVariableという サーティファイ範囲外*/
    background-color: var(--portfolio-gray);
}

/* li.text {
    color: red;
} */

/* 
何番目系疑似クラス 

1.-child系 なんでもかんでも数える
:first-child 最初だけボーダーがほしいとか
:last-child 最後だけ余白いらないとか
:nth-child(n)


★(/・ω・)/サーティファイにでるよ(/・ω・)/★
偶数番目： even | 2n
奇数番目: odd | 2n + 1


.of-typ系 ulli指定されてる子要素だけ数える
:first-of-type
:last-of-type
:nth-of-type(n)
*/
/* 
li:nth-child(2n) {
    color: red;
} */

/* of-typeを使ってpara1の文字の色をgreenにしてください */

/* >子要素 */
.sec01>p:first-of-type {
    color: green;
}

/* childを使ってpara1の文字に下線を引いてください */
.sec01>p:nth-child(2) {
    text-decoration: underline dotted #000 2px;
}

/* 2番目と５番目をboldにしてください */
/*※ 親と要素で数える※ */

.sec01 ul li:nth-of-type(2) {
    font-weight: bold;
}

/* .sec01 ul li:nth-child(2) */

/* 効率よく書けるようになる → li5だけ 文字の大きさを24pxに*/

.sec01 ul:nth-child(4) li:nth-child(2) {
    font-size: 24px;
    /* .sec01 ul:nth-of-type(2) li:nth-of-type(2) */
}

/* フォームのスタイルをリセット */
input[type=text],
input[type=submit],
textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

/*  お名前とメールアドレスとメッセージ欄に太さ1px、実線、＃000のボーダーを引く*/

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
}

/* ★クリックした時に太くなる、フォーカスされている入力欄を強調する */
input:focus,
textarea:focus {
    outline: 3px solid var(--portfolio-green)
}

/* 必須項目のスタイルを変更する */
/*疑似クラスに対応したセレクタがある↓平成ver */
input:required {
    background-color: pink;
}

/* 複数のセレクタをまとめて書く :is()

input:is([type="text"],[type="email"]),
textarea {
    border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
} */


/* \疑似要素:has() 
required属性をつけると全部に必須がつくよ(/・ω・)/*/
label:has(input[required]) span::after {
    content: "必須";
    font-size: 0.8em;
    display: inline-block;
    background-color: var(--portfolio-green);
    color: var(--portfolio-white);
    border-radius: 3px;
    padding-inline: 6px;
    padding-block: 3px;
    margin-inline-start: 5px;
}

input[type=submit] {
    border-radius: 8px;
    background-color: var(--portfolio-green);
    color: var(--portfolio-white);
    padding-inline: 13px;
    padding-block: 8px;
}


/* top=block-start/left=inline-start/right=inline-end/bottom=block-endという書き方もできる。 */

input[type=sbmit]:disabled {
    background-color: var(--portfolio-gray);
    color: var(--portfolio-black);
    border: 1px solid var(--portfolio-black);
    opacity: 0.5;
}